html{
    scroll-behavior: smooth;
}

.tm-social {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px){
    .tamimg{
         width: 700px;
         height: 250px;
    }
    .posinav{
        position: relative;
    }
    .tamlink{
        width: 95vw;
    }
   }

   .card:hover{       
       transition: .5s;
       background-color:#7b7b7b;
       color: #c2eded;
       font-size: larger;
       border: 5px;       
   }

  

  